.contact_me {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
}

h2{
  color: #156267;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: #156267;
  font-family: 'Montserrat', sans-serif;
}
.social_media{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  background-color: transparent;
}

.contact_message{
  width: 40%;
  margin: 20px auto 20px;
}



.social_media{
  background-color: #5ea2a7;
  padding: 50px 0 20px;
}

.footer_link{
  padding: 1rem;
  background-color: transparent;
  text-decoration: none;
  color: #156267;
}

.btn {
  background: #67b2ac;

  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

  margin-top: 1em;
}

.btn:hover {
  background: #66b19c;
  text-decoration: none;
}

/*FORM */

.client_form{
  text-align: center;
  margin: 2rem 10rem;
  
}


.client_info{
  display: flex;
  flex-direction: column;
  text-align: left;
}



/*  from https://css.gg/spinner, MIT license: https://css.gg/doc/licence */
/* Spinner */
.gg-spinner {
    transform: scale(var(--ggs,1))
   }
   
   .gg-spinner,
   .gg-spinner::after,
   .gg-spinner::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px
   }
   
   .gg-spinner::after,
   .gg-spinner::before {
    content: "";
    position: absolute;
    border-radius: 100px
   }
   
   .gg-spinner::before {
    animation: spinner 1s
    cubic-bezier(.6,0,.4,1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor
   }
   
   .gg-spinner::after {
    border: 3px solid;
    opacity: .2
   }
   
   @keyframes spinner {
    0% { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
   } 

